/*
* style.css - Udacity P5-1 - Neighborhood map project
* My TS London
*/

body {
    font-family: Roboto, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
}
a {
    color: #039be5;
    text-decoration: none;
}
#map-canvas {
    height: 100%;
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: .95;
}
#side-bar {
    position: absolute;
    padding: 1rem;
    z-index: 1;
    height: 100%;
    width: 20%;
    right: 0;
    top: 0;
    overflow-y: scroll;
    background-color: #512da8;
    color: #fff;
}
ul {
    list-style-type: none;
    border: 0;
    padding: 0;
}
.ticker {
    border: solid 1px;
    background-color: #b6b6b6;
    padding-left: 0.5rem;
    color: #222;
}
@media screen and (max-width: 840px) {
    h2,
    #side-bar,
    #header-title,
    #header-about,
    #header-subtitle,
    #ticker,
    button,
    #input {
        font-size: 60%;
        max-width: 100%;
    }
    input {
        max-width: 100%;
    }
    .marker-legend {
        width: 20%;
        height: 20%;
    }
}